<%- include ('./partials/layout.ejs'); -%>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
        <h1 class="text-center mb-3"> Welcome To Customer Page</h1>
        <form method="POST" action="/Customer">
            <div class="form-group ">
                <legend for="name" class="form-label"> Name:- </legend>
                    <input type="text" id="name" name="customer_name" class="form-control" placeholder="Enter Your Name">
            </div>
            <div class="form-group">
                <legend for="contact_no" class="form-label">Mobile Number:- </legend>
                <input type="number" id="contact_no" name="contact_no" class="form-control" placeholder="Enter Your Moblie Number">
            </div>
            <div class="form-group">
                <legend class="form-label">What Are You</legend>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-check">
                            <input type="radio" name="identity" value="Individual" id="individual" class="form-check-input">
                            <label for="individual" class="form-check-label">An Individual </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-check">
                            <input type="radio" name="identity" value="Community" id="community" class="form-check-input">
                            <label for="community" class="form-check-label"> A Community </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <legend for="location" class="form-label">Current Location</legend>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="latitude">Latitude</label>
                            <input type="text" id="latitude" name="latitude" class="form-control">
                        </div>
                        <div class="col-sm-4">
                            <label for="longitude">Longitude</label>
                            <input type="text" id="longitude" name="longitude" class="form-control">
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <legend class="form-label">The Location Of Service Required</legend>
                    <div class="row">
                        <div class="col-sm-5" >
                            <div class="form-check">
                                <input type="radio" name="service_location" value="Indoor" id="Indoor" class="form-check-input">
                                <label for="Indoor" class="form-check-label">Indoor </label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-check">
                                <input type="radio" name="service_location" value="Outdoor" id="Outdoor" class="form-check-input">
                                <label for="Outdoor" class="form-check-label">Outdoor </label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <legend class="form-label">What Is The Intended Purpose Of Service</legend>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="purpose_of_service" id="purpose_of_service1" value="Restore or Repair an existing feature to its working condition" >
                            <label class="form-check-label" for="purpose_of_service1">
                                Restore or Repair an existing feature to its working condition
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="purpose_of_service" id="purpose_of_service2" value="Production or Installation of a new feature">
                            <label class="form-check-label" for="purpose_of_service2">
                                Production or Installation of a new feature
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="purpose_of_service" id="purpose_of_service3" value="Sanitation or Cleaning Facilities">
                            <label class="form-check-label" for="purpose_of_service3">
                                Sanitation or Cleaning Facilities
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="purpose_of_service" id="purpose_of_service4" value="Self Care">
                            <label class="form-check-label" for="purpose_of_service4">
                                Self Care
                            </label>
                        </div>
                    </div>
                </div>
            </div>



            <div class="form-group" id="group1" style="display: none;">
                <legend class="form-label">Please choose the options that describe the field of the task/issue</legend>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Service" id="RepairAndRestoration1"
                                value="Electrical">
                            <label class="form-check-label" for="RepairAndRestoration1">
                                Electrical
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Service" id="RepairAndRestoration2"
                                value="Water Based">
                            <label class="form-check-label" for="RepairAndRestoration2">
                                Water Based
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Service" id="RepairAndRestoration3"
                                value="Wood Work">
                            <label class="form-check-label" for="RepairAndRestoration3">
                                Wood Work
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group" id="group2" style="display: none;">
                <legend class="form-label">Please choose the options that describe the field of the task/issue</legend>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Service" id="ProductionOrInstallation1"
                                value="Electrical">
                            <label class="form-check-label" for="ProductionOrInstallation1">
                                Electrical
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Service" id="ProductionOrInstallation2"
                                value="Water Based">
                            <label class="form-check-label" for="ProductionOrInstallation2">
                                Water Based
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Service" id="ProductionOrInstallation3"
                                value="Painting">
                            <label class="form-check-label" for="ProductionOrInstallation3">
                                Painting
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Service" id="ProductionOrInstallation4"
                                value="Wood Work">
                            <label class="form-check-label" for="ProductionOrInstallation4">
                                Wood Work
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group" id="group3" style="display: none;">
                <legend class="form-label">Please choose the options that describe the field of the task/issue</legend>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Service" id="SanitationAndCleaning1"
                                value="Sanitation Service">
                            <label class="form-check-label" for="SanitationAndCleaning1">
                                Sanitation Service
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Service" id="SanitationAndCleaning2"
                                value="Pest Control">
                            <label class="form-check-label" for="SanitationAndCleaning2">
                                Pest Control
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Service" id="SanitationAndCleaning3"
                                value="Garbage and Waste Management">
                            <label class="form-check-label" for="SanitationAndCleaning3">
                                Garbage and Waste Management
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group" id="group4" style="display: none;">
                <legend class="form-label">Please choose the options that describe the field of the task/issue</legend>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Service"
                                id="SelfCare1" value="Hair Cut">
                            <label class="form-check-label" for="SelfCare1">
                                Hair Cut
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Service"
                                id="SelfCare2" value="Hair Coloring">
                            <label class="form-check-label" for="SelfCare2">
                                Hair Coloring
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Service"
                                id="SelfCare3" value="Pedicure">
                            <label class="form-check-label" for="SelfCare3">
                                Pedicure
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Service"
                                id="SelfCare4" value="Manicure">
                            <label class="form-check-label" for="SelfCare4">
                                Manicure
                            </label>
                        </div>
                    </div>
                </div>
            </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                
        </form>
    </div>
        
</div>
</div>
<br>
    <script>
        var longi=document.getElementById('longitude');
        var lati=document.getElementById('latitude')
        navigator.geolocation.getCurrentPosition(function(position){
            longi.value=position.coords.longitude.toFixed(5);
            lati.value=position.coords.latitude.toFixed(5);
        })

        $(function () {
                $("input[name='purpose_of_service']").click(function () {
                    if ($("#purpose_of_service1").is(":checked")) {
                        $("#group1").show();
                    } else {
                        $("#group1").hide();
                    }
                });
            });
        $(function () {
                $("input[name='purpose_of_service']").click(function () {
                    if ($("#purpose_of_service2").is(":checked")) {
                        $("#group2").show();
                    } else {
                        $("#group2").hide();
                    }
                });
            });
        $(function () {
                $("input[name='purpose_of_service']").click(function () {
                    if ($("#purpose_of_service3").is(":checked")) {
                        $("#group3").show();
                    } else {
                        $("#group3").hide();
                    }
                });
            });
        $(function () {
                $("input[name='purpose_of_service']").click(function () {
                    if ($("#purpose_of_service4").is(":checked")) {
                        $("#group4").show();
                    } else {
                        $("#group4").hide();
                    }
                });
            });
    </script> 


<%- include ('./partials/footer.ejs'); -%>