<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600&family=Old+Standard+TT:wght@400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <title>HOME PAGE</title>
      <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
<body>
<!-- NAVIGATION BAR -->
<nav class="navbar navbar-expand-lg navbar-inverted sticky-top">
  <a class="navbar-brand" href="#"> <img src="/images/house.svg" width="30" height="30" alt="" loading="lazy"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
        <li class="nav-item"><a class="nav-link" href="/Client/Login">CLIENT</a></li>
        <li class="nav-item"><a class="nav-link" href="/Customer">CUSTOMER</a></li>
        <li class="nav-item"><a class="nav-link" href="/Worker">WORKER</a></li>
      </ul>
    </div>
</nav>


<!-- MAIN JUMBOTRON -->
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6 col-sm-12" style="align-items: center;">
          <img id="clock-image" src="/images/24-hours (1).svg" alt="" class="img-fluid">
          </div>
          <div class="col-md-6 col-sm-12" style="text-align: center; margin: auto;">
            <div style="font-size: 25px;">BOOK YOUR HOME VISIT</div>
            <div style="font-size: 115px; font-weight: 400;">NOW!</div>
            <div><button href="/Customer" id="book-btn"class="text-nowrap">BOOK NOW</button></div>
        </div>
    </div>
  </div>
</div>


<br><br>

<!-- ABOUT US SECTION -->ś

<div class="container">
<div class="row">
  <div class="col-lg-4 hr-1">
    <hr>
  </div>
  <div class="col-lg-4">
    <h1>ABOUT US</h1>
  </div>
  <div class="col-lg-4">
    <hr>
  </div>
</div>
<br>
<div class="col-lg-12"><p id="about_us">We are a home-services platform that helps customers in our operational geography to book reliable home services like cleaning, plumbing, carpentry, beauty services, appliance installation, repair and much more with the convenience of a single click. We provide skilled and experienced workers to clients on a daily basis and to customers as per their requirement. Our main goal is to connect service professionals with customers.</p>
</div>
</div>


<br><br>

<!-- SERVICE SECTION -->

<div class="container">
<div class="row" id="services">
  <div class="col-lg-4 hr-1"><hr></div>
  <div class="col-lg-4"><h1>OUR SERVICES</h1></div>
  <div class="col-lg-4"><hr></div>
</div>


<div class="card-group">
  <div class="card">
    <img src="/images/carpenter.svg" class="card-img-top" alt="..." width="100%">
    <div class="card-body"><h5 class="card-title">Carpentry</h5></div>
  </div>
  <div class="card">
    <img src="/images/house-cleaning.svg" class="card-img-top" alt="...">
    <div class="card-body"><h5 class="card-title">Painting</h5></div>
  </div>
  <div class="card">
    <img src="/images/garbage.svg" class="card-img-top" alt="...">
    <div class="card-body"><h5 class="card-title ">Garbage Collection</h5></div>
  </div>
  <div class="card">
    <img src="/images/electrician.svg" class="card-img-top" alt="...">
    <div class="card-body"><h5 class="card-title">Electrical</h5></div>
  </div>
</div>
  
<div class="card-group">
    <div class="card">
      <img src="/images/pest.svg" class="card-img-top" alt="...">
      <div class="card-body"><h5 class="card-title text-nowrap">Pest Control</h5></div>
    </div>
    <div class="card">
      <img src="/images/salon.svg" class="card-img-top" alt="...">
      <div class="card-body"><h5 class="card-title">Salon</h5></div>
    </div>
    <div class="card">
      <img src="/images/water-pipe.svg" class="card-img-top" alt="...">
      <div class="card-body"><h5 class="card-title">Plumbing</h5></div>
    </div>
    <div class="card">
      <img src="/images/cleaning-tools.svg" class="card-img-top" alt="...">
      <div class="card-body"><h5 class="card-title">Cleaning</h5></div>
    </div>
  </div>
</div>


<br><br>


<!-- CONTACT SECTION -->
<nav class="navbar navbar-inverted">
  <div class="container">
    <div class="nav-item"><a class="nav-link" href="#">CONTACT US</a></div>
    <div class="nav-item"><a class="nav-link" href="#">SOCIAL MEDIA</a></div>
  </div>
</nav>
</div>
<script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
      <script
          src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
          integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
          crossorigin="anonymous"></script>
      <script
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
          crossorigin="anonymous"></script>
<%- include ('./partials/footer.ejs'); -%>